  @media screen and (max-width: 768px) { 
	#slideshow{
	width: 100%;
	height: 600px;
	padding: 0;
	}
.top_filter{
	width: 100%;
	height: 600px;
	padding: 0;
	
	}
	.HeaderMainVisual{
		display: none;
	}
	.Sp-HeaderMainVisual{
	display: block;
	width: 100%;
	z-index: 100;
	color: #fff;
	position: absolute;
	top: 20%;
	left:0;
	box-sizing: border-box;
	
}
.Sp-accordion{
	display: none;
}
.sp-menu{
	display: 
}
.SpNavIcon{
	display: block;
	position: absolute;
	right: 0;
	top: 0;
}
.SpNavIcon2{
	display: block;
	position: absolute;
	right: 0;
	top: 0;
}
#Menu{
	width: 40px;
}
.SpNav{
	width: 100%;
	height: 100vh;
	background-color: #fff;
}
.Sp-MV_text{
	width: 100%;
	margin: 0 auto 30px auto;
	font-weight: bold;
}
.Sp-MV_text h2{
	max-width: 400px;
	margin: 0 auto;
	line-height: 2em;
	text-align: center;
}
	
	.Sp-Mv_flow{
	width: 300px;

	}
	.MvTop{
		max-width: 400px;
		height: 90px;
		margin: 0 auto;
		background-image: url("../../resources/images/hongouinsatu/sp_MVflow_top.png");
		background-repeat: no-repeat;
		background-size: contain;
	}
	.MvBottom{
		max-width: 400px;
		height: 90px;
		margin: 0 auto;
		background-image: url("../../resources/images/hongouinsatu/sp_MVflow_bottom.png");
		background-repeat: no-repeat;
		background-size: contain;
		background-position: right;

	}
	.GlobalNav{
		display: none;
	}
	.qqqq{
		width: 90%;
		margin: 0 auto;
		padding-right: 0;
		padding-left: 0;
	}
	#logo{
		position: initial;
		width: 100px;
		height: auto;
	}

	.Sp-ContactWrapper{
		display: block;
		width: 100%;
		height: 80px;
	}
	.Sp-ContactContents{
		width: 90%;
		height: 100%;
		margin: 0 auto;
		display: flex;
	}
	.Sp-ContactLeft{
		width: 50%;
		font-size: 14px;
		box-sizing: border-box;
		padding-right: 20%;
		position: relative;
	}
	.Sp-ContactLeft p{
		position: absolute;
		top: 50%;
		left: 0;
		transform: translateY(-50%);
		font-weight: bold;
	}
	.Sp-ContactRight{
		width: 50%;
		display: flex;
	}

	.ContactItemRight{
		width: 50%;
		text-align: center;
		position: relative;
	}
	.ContactItemLeft{
		width: 50%;
		text-align: center;
		position: relative;
	}
	.RightItemContent{
		width: 100%;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
	}
	.LeftItemContent{
		width: 100%;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
	}
	.ContactItemRight img,.ContactItemLeft img{
		width: 30px;
		margin: 0 auto;
	}
	.ContactItemRight p,.ContactItemLeft p{
		font-size: 10px;
		color: #000;
		text-align: center;
	}

	.right .HeaderTelNum{
		display: none;
	}
	.publishing_servise_container .ContainerTitle{
		padding-top: 40px;
	}
	.ContainerTitle{
		padding-top: 40px;
	}
	.publishing_servise_container{
		width: 90%;
		padding: 0;
		margin: 0 auto;
	}
	.Publish-ImageBoxLeft,.Publish-ImageBoxCenter,.Publish-ImageBoxRight{
		margin: 0 auto;
		max-width: 100%;
	}
	.p_contents{
	  		display: block;
	  		padding: 40px 0 40px 0;

	 }
	.p_content{
	  	margin:0;
	  	width: 100%;
	  	height: auto;
	  	padding-bottom: 40px;
	 }
	 .p_content_text{
	 	margin: 20px 0;
	 	font-size: 14px;
	 }
	 .p_content:nth-of-type(1){
		margin:0;
	 }
	 .p_content:nth-of-type(2){
		margin:0;
	 }
	.p_content:nth-of-type(3){
		margin:0;
	 }
	 .p_content_text{
	 	padding: 0;
	 }
	 .p_content .p_content_link{
	 	margin: 0 auto;
	 }

	 .school_servise_container{
	 	width: 100%;
	 	margin: 0 auto;
	 	padding: 0;
	 }
	 .s_contents{
	 	display: block;
	 	width: 90%;
	 	margin: 0 auto;
	 	padding: 40px 0 80px 0;
	 }
	 .s_content{
	 	width: 100%;
	 	margin-bottom: 40px;
	 }
	 .s_content_text_top,.s_content_text_bottom{
	 	font-size: 14px;
	 }
	 .s_contents .vegas-wrapper{
	 	width: 100%;
}
	 .s_content_under{
	 	padding: 0;
	 }
	 .s_content:nth-of-type(2){
	margin:0;
	 }
	 .ImageBoxLeft,.ImageBoxRight{
	 	width: 100%;
	 }



	 .BlogNewsContainer .flex_center{
	 	display: block;
	 }
	 .BlogNewsContainer{
	 	padding: 0;
	 	width: 90%;
	 	margin: 0 auto;
	 	height: auto;
	 }
	 .NewsWrapper{
	 	margin: 0;
	 	padding: 0;
	 	width: 100%;
	 	height: auto;
	 }
	 .NewsContents {
    	margin-top: 40px;
}
	 .BlogWrapper{
	 	margin: 0;
	 	padding: 0;
	 	width: 100%;
	 	height: auto;
	 	display: block;
	 }
	 footer{
	 	display: block;
	 	padding: 0;
	 	width: 90%;
	 	height: auto;
	 	margin: 0 auto;
	 	display: -webkit-flex;
flex-flow: column wrap;
	 }
	 .FooterLeft,.FooterCenter,.FooterCenterTop,.FooterRight,.FooterLeftTop,.FooterLeftBottom,.FooterCenterBottomLeft,.FooterCenterBottomRight{
	 	height: auto;
	 	padding:0;
	 	margin: 0;
	 }
	 .FooterLeft,.FooterCenter,.FooterRight{
	 	width: 100%;
	 }
	 .FooterLeftTopText,.FooterLeftBottomText,.BottomRightContent,.BottomLeftContent,.FooterRightContent{
	 	position: static;
	 }
	 .FooterCenter, .FooterLeftBottomText{
	 	width: 100%;
	 }
	 .FooterCenterBottom{
	 	height: auto;
	 }
	 .FooterRightContent{
	 	transform:initial;
	 }
	 .FooterCenterTop{
	 	display: none;
	 }
	 .FooterRight{
	 	margin-bottom: 40px;
	 	order: 1;
		-webkit-order: 1;
	}
	.BottomLeftContent li,.BottomRightContent li{
	font-size: 10px;
}
	.FooterRightTitle{
		margin-top: 80px;
	}
	.right .ContactBtn{
		display: none;
	}
	  .FooterLeft{
	 	order: 2;
		-webkit-order: 2;
		text-align: center;
	 }
	 .FooterLeftTop p{
	 	font-size: 10px;
	 }
	 .FooterLeftTopText{
	 	margin: 40px 0;
	 }
	 .FooterLeftTitle{
	 	margin-bottom: 0px;
	 }
	 .FooterCenter{
	 	margin: 0 0 40px 0;
	 	order: 3;
		-webkit-order: 3;
	 }
	 .FooterLeftBottomText{
	 	display: none;
	 }
	 .BottomRightContent,.BottomLeftContent{
	 	margin: 0;
	 }
	 .Sp-Copyright{
	 	border-top: 1px solid #c9c9c9;
	 	display: block;
	 	order: 4;
		-webkit-order: 4;
		font-size: 10px;
		text-align: center;
		padding:10px 0 10px 0;
	 }



	 .hamburger{
		display: block;
	}
	.BlogShowAll{
		margin-bottom: 100px;
	}









  }